.card{
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  width: 500px;
  padding: 40px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  background-image: url(ang.jpg);
 
  
}
.outer{
  height: 100vh;
  background-image: url(a.jpg);
}
